<!DOCTYPE html>
<html lang="es">
    <body>
        <p><b>Hola,</b></p>
        <p>Aquí está la información que solicitaste:</p>
        <table>
            <tr>
                <th style="padding: 10px;">Total balance</th>
                <th style="padding: 10px;">Average debit amount</th>
                <th style="padding: 10px;">Average credit amount</th>
            </tr>
            <tr>
                <td style="padding: 10px;">{{total_balance}}</td>
                <td style="padding: 10px;">{{avg_debit}}</td>
                <td style="padding: 10px;">{{avg_credit}}</td>
            </tr>
        </table>
        <table>
            <tr>
                <th style="padding: 10px;">Month</th>
                <th style="padding: 10px;">Number of transactions</th>
            </tr>
            {% for transaction in num_transactions %}
                <tr>
                    <td style="padding: 10px;">{{ transaction[0] }}</td>
                    <td style="padding: 10px;">{{ transaction[1] }}</td>
                </tr>
            {% endfor %}
        </table>
        <p><img src='{{ image_url}}' alt="logo"/></p>
        <p>Saludos,</p>
        <p>Tu equipo</p>
    </body>
</html>